/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */
body {
  background-color: #AAA;
  color: #444;
}

.container {
  width: 960px;
  margin: 0 auto;
  background-color: #CFCFCF;
}

.header {
  background-color: #999;
  padding: 40px 0;
  text-align: center;
}

.header__title {
  font-size: 40px;
  font-weight: bold;
}

.global-nav__item {
  float: left;
  width: 192px;
  padding: 25px 0;
  text-align: center;
}

.global-nav__item:nth-child(even) {
  background-color: #B8B8B8;
}

.global-nav__item:nth-child(odd) {
  background-color: #DCDCDC;
}

.global-nav__link {
  color: #444;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

.bread-crumbs {
  clear: left;
  height: 30px;
  background-color: #5C5C5C;
}

.bread-crumbs__items {
  padding: 6px 15px;
}

.bread-crumbs__item {
  float: left;
}

.bread-crumbs__link {
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
}

.bread-crumbs__item:nth-child(n+2)::before {
  color: #FFF;
  content: "\003e";
  margin: 0 10px;
}

.top-ads {
  clear: left;
}

.top-ads__item {
  float: left;
  width: 315px;
}

.top-ads__image {
  width: 300px;
  margin: 15px 0 15px 15px;
}

.main {
  float: right;
  width: 630px;
}

.main-header {
  background-color: #FFF;
  height: 80px;
}

.main-header__title {
  font-size: 35px;
  font-weight: bold;
  padding: 22px 60px;
}

.article {
  background-color: #DDD;
  padding: 15px;
  line-height: 1.7em;
}

.article__title {
  font-size: 27px;
  font-weight: bold;
  margin: 10px 25px 20px;
}

.article__sub-title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 20px;
}

.article__sub-sub-title {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 20px;
}

.article__paragraph {
  margin-bottom: 20px;
}

.article__strong {
  font-weight: bold;
}

.article__unorder-list-item {
  list-style: disc inside;
  line-height: 2em;
}

.article__order-list-item {
  list-style: decimal inside;
  line-height: 2em;
}

.article__blockquote {
  padding: 40px 0 30px 30px;
}

.article__image {
  width: 600px;
}

.form {
  background-color: #FFF;
  padding: 0 20px 20px;
}

.form__title {
  font-size: 23px;
  font-weight: bold;
  padding: 20px 20px;
}

.form-item {
  margin-bottom: 25px;
}

.form-item__label {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  margin: 7px 20px 0 0;
  width: 170px;
}

.form-item__text-input {
  height: 25px;
  width: 388px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.15);
}

.form-item__textarea {
  height: 250px;
  width: 388px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.15);
}

.form-item__inline-items {
  display: inline;
}

.form-item__inline-item {
  display: inline;
}

.form-item__radio {
  display: inline-block;
  background-color: #EEE;
  padding: 10px 10px;
  margin-right: 15px;
  border-radius: 4px;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.15);
}

.form-item__checkbox {
  display: inline-block;
  background-color: #DDD;
  padding: 10px 10px;
  margin-right: 15px;
  border-radius: 4px;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.2);
}

.form-item__select-pull-down {
  font-size: 14px;
  height: 25px;
  width: 388px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.15);
}

.form-item__select-list {
  font-size: 14px;
  width: 388px;
  background-color: #EEE;
  border: none;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.15);
}

.form-item__select-list-option {
  padding: 9px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
}

.form-item__file {
  background-color: #EEE;
  width: 378px;
  padding: 5px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.15);
}

.form-item__actions {
  display: inline-block;
}

.form-item__actions-item {
  display: inline;
}

.form-item__action {
  -webkit-appearance: none;
  font-size: 13px;
  border-radius: 4px;
  height: 36px;
  width: 180px;
  margin: 0 5px;
}

.is-submit {
  background-color: #444;
  color: rgba(255, 255, 255, 9);
  text-shadow: 0 1px rgba(0, 0, 0, .8);
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow : 0 0 0 1px rgba(0, 0, 0, .3),  0 1px rgba(255, 255, 255, .2) inset;
}

.is-reset {
  background-color: #CCC;
  font-weight: bold;
  color: rgba(0, 0, 0, .7);
  text-shadow: 0 1px rgba(255, 255, 255, .8);
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow : 0 0 0 1px rgba(0, 0, 0, .1),  0 1px rgba(255, 255, 255, .6) inset;
}
/*.aside {
  float: left;
}*/
